{{ define "main" }}
<div>
	<div style="margin: auto; text-align: left; max-width: 700px;" class="textholder">
		<h1 class="title">{{.Title}}</h1>
                <div class="iframe">
                <iframe src={{.Params.Embedlink}} title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
               {{.Content}}
               <p>
    <a href='{{relLangURL "media"}}'>Back to media</a>
               </p>
	</div>
</div>
{{ end }}
