@import "responsive.scss";
.headshot {
  height: 15rem;
  margin: 0;
  flex: 1 1 auto;
  padding-bottom: 2rem;
  text-align: center;
  img {
    height: 100%;
  }
  @include md {
    flex: 0 1 auto;
  }
  @include sm {
    height: 22rem;
    margin: 2rem;
  }
}

.bgimg {
  position: absolute;
  z-index: -1;
  bottom: 0px;
  right: 0px;
  height: 100vh;
}

#bio {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  #bio-text {
    height: fit-content;
  }
  @include md {
    padding: 0 4rem ;
  }
  @include lg {
    max-width: 22rem;
  }
  @include xl {
    max-width: 30rem;
  }
  h2 { text-transform: uppercase; }
  background-color: rgba(17, 20, 29, 0.7);
  box-shadow: 0px 0px 40px 40px rgba(17, 20, 29, 0.7)
}
