$hamburger-layer-border-radius : 0px;
@import "./hamburgers/hamburgers/hamburgers.scss";
@import "responsive.scss";
@import "colors.scss";
@import "nav.scss";

body, html {
  background-color: $bgcolor;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  color: $textcolor;
}


#body {
  justify-content: center;
  #container {
    display: flex;
    flex-wrap: wrap;
    max-height: 95%;
    max-width: 100%;
    justify-content: center;
  }
  display: flex;
  align-items: center;
  margin: 0 1rem;
  @include lg {
    margin: 0 5rem;
  }
  height: 95%;
  box-sizing: border-box;
}

a {
  color: $textcolor;
  text-decoration: underline;
  &:hover, &:active {
    background: $textcolor;
    color: $bgcolor;
  }
}


p {
  font-family: 'Crimson Text', IBM Plex Mono, monospace, sans-serif;
  font-size: 15pt;
  @include sm {
    font-size: 12pt;
  }
}

h1,h2,h3, h4{
  font-family: Crimson Text;
  font-style: italic;
}

h4 {
  font-style: normal;
  font-weight: 400;
}

h2 {
  margin: 0;
  font-size: 24pt;
}
