
.iframe { 
  background: #000;
  width: 100%;
  position:relative;
  padding-top: 56.2%;
  iframe {
position:absolute;top:0;left:0;width:100%;height:100%;
  }
}

#mediagrid {
  display: flex;
  #medias {
    display: none;
  }
  #titles {
    .title {
      display: block;
      font-size: 1em;
      cursor: pointer;
      font-weight: bold;
      text-decoration: underline;
    }
  }
  // @include sm {
  //   iframe {
  //     width: 95vw;
  //   }
  // }
  // @include md {
  //   iframe {
  //     width: 500px;
  //   }
  // }
  // @include lg {
  //   iframe { width: 700px; } 
  // }

  @include xl {
    height: calc(100vh - 95px);
    #medias {
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin-right: 50px;
      width: 700px;
      iframe {
        background: #000;
      }
      .media {
        display: none;
      }
      .media:first-child {
        display: block;

      }
    }
    #titles {
      overflow: auto;
      .title { opacity: 50%; }
      .title:hover {
          opacity: 100%;
          text-decoration: underline;
        }
      .title:first-child {
        text-decoration: underline;
        opacity: 100%;
      }
    }
    &.selected {
      #medias {
        .media:first-child {
          display: none;
        }
        .media.active {
          display: block;
        }
      }
      #titles {
        .title:first-child {
          opacity: 50%;
          text-decoration: none;
          &:hover {
            opacity: 100%;
            text-decoration: underline;
          }
        }
        .title.active {
          opacity: 100%;
          text-decoration: underline;
        }
      }
    }
  }

}
