@import "responsive.scss";
@import "colors.scss";

.nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  padding-right: 10px;
  span {
    position: relative;
  }
  .burger {
    opacity: 1;
    text-align: right;
    width: 70px;
    height: 54px;
    padding-top: 6px;
  }
  .logo {
    opacity: 1;
    padding: 15px;
    text-align: left;
    font-family: EB Garamond, Crimson Text, serif;
    font-style: italic;
    text-transform: uppercase;
    font-size: 21pt;
    font-weight: 700pt;
    overflow: hidden;
    span {
      position: absolute;
    }
  }
  #langswitcher {
      ul {
         list-style: none;
         margin: 0;
         padding: 0;
         display: grid;

         li {
           padding: 0;
         }
     }
     > ul {
       grid-auto-flow: column;
    
       > li {
         margin: 0 0.5rem;
       }
     }
    
  }
  #nav {
    opacity: 0;
    height: 0;
    width: 0;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    a {
      font-family: EB Garamond, 'Crimson Text', serif;
      text-transform: uppercase;
      font-style: italic;
      text-decoration: none;
      color: $textcolor;
      background: transparent;

      @include lg {
        font-size: 24pt;
      }
    }
    @include lg {
      height: 0px;
      box-sizing: border-box;
      opacity: 1;
      width: auto;
      position: relative;
    }
  }

  &.active {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: $bgcolor;
    transition: background-color 0.5s;
    .burger {
      position: fixed;
      margin-left: -10px;
      width: 100%;
      height: 0;
    }
    .hamburger-inner, .hamburger-inner::after {
      background-color: $textcolor !important;
    }
    .hamburger.isactive {
      .hamburger-inner {
        background-color: $textcolor;
         :before, ::after {
            background-color: $textcolor;
          }
      }
    }
    .hamburger {
      opacity: 1 !important;
    }
    .logo {
      position: absolute;
      width: 0;
      height: 0;
      opacity: 0;
    }
    a {
      display: block;
      padding: 50px;
      font-size: 24pt;
    }
    #nav {
      display: block;
      padding: 0;
      margin: auto 0;
      opacity: 1;
      position: relative;
      width: 100%;
      height: auto;
    }
  }

  @include lg {
    display: block;
    padding: 0;
    .burger, .logo {
      opacity: 0;
      width: 0;
      height: 0;
      padding: 0;
    }
  }
}

nav {
  a {
    span {
      position: relative;
      display: block;
      cursor: pointer;
      width: fit-content;
    }

    span:before, span:after {
      content: '';
      position: absolute;
      width: 0%;
      height: 3px;
      top: 100%;
      margin-top: -0.5px;
      background: #fff;
    }

    &:not(.active) {
    span:before {
      left: -2.5px;
    }
    span:after {
      right: 2.5px;
      background: $textcolor;
      transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    span:hover:before {
      background: $textcolor;
      width: 100%;
      transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    }

    span:hover:after {
      background: transparent;
      width: 100%;
      transition: 0s;
    }
  }
  }
}

nav > a.active {
  text-decoration: none;
  @include lg {
    text-decoration: underline;
    transition: opacity  0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
  }
}

.hamburger-inner {
  background-color: $textcolor;
  &::before, &::after {
    background-color: $textcolor;
  }
}
