<!DOCTYPE html>
<html lang="en">
<head>
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-7YWD891Z8X"></script>

			<script>

				  window.dataLayer = window.dataLayer || [];

								    function gtag(){dataLayer.push(arguments);}

								    gtag('js', new Date());



								    gtag('config', 'G-7YWD891Z8X');

			</script>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap" rel="stylesheet">
{{ $style := resources.Get "css/main.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">

	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">

	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

	<link rel="manifest" href="/site.webmanifest">

	<meta name="msapplication-TileColor" content="#da532c">

	<meta name="theme-color" content="#ffffff">
<style>
 nav > a:nth-of-type({{.page}}) {
	 text-decoration: line-through;
}
</style>
	<title>Coleman Haley</title>
</head>
<body>
	<div class="nav" id="menu">
		<div class="logo">
			<span>Coleman Haley</span>
		</div>
		<div class="burger">
		<button id="menu-button" onclick=menuOnClick() class="hamburger hamburger--squeeze" type="button">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</button>
		</div>
	<nav>
		<a href="/">{{cond (eq .page 1) "Home" "C. Haley"}}</a>
		<a href="/publications/">Publications</a>
		<a href="/documents/coleman_cv.pdf">Curriculum Vitae</a>
		<a href="/blog/">Blog</a>
		<a href="https://twitter.com/22cristobal22">Twitter</a>
		<a href="https://github.com/ColemanHaley">Github</a>
	</nav>
	</div>
	<div id="body">
		<div id="container">

