{{ if .Site.IsMultiLingual }}
<div id="langswitcher" onmouseout="languageOnMouse()" onmouseover="languageOnMouse()">
  {{ range .Site.Languages }}
  {{ $lang := . }}

  {{ range $.Translations }}
  {{ if eq $lang $.Site.Language }}
  <a href="{{.Permalink}}"><span>{{.Language.LanguageName}}</span></a>
  {{end}}
  {{end}}
  {{ if eq . $.Site.Language }}
  <a class="active" href="{{ $.Page.Permalink }}"><span>{{.LanguageName}}</span></a>
  {{end}}
  
  {{end}}

  <span class="langbutt textholder" onclick="languageToggle()">{{ T "language" }}</span>

{{ end }}

