{{ define "styles" }}
    {{ $style := resources.Get "css/home.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}
{{ define "main" }}
	<div class="headshot progressive_figure">
                <img src="/img/headshot2022.png" alt="Headshot of Paul."/> 
                <div style="padding-bottom: 100%; background-color: #11141D; position: absolute; z-index: -1;"></div>
	</div>

	<div id="bio" class="textholder">
		<div id="bio-text">
		{{ .Content }}
		</div>
	</div>
{{ end }}
