{{ define "styles" }}
{{ $style := resources.Get "css/publications.scss" | resources.ToCSS (dict "outputStyle" "compressed") | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">
{{ end }}
{{ define "main" }}
<div>
	{{ range (where .Data.Pages "Params.publication" "!=" "").GroupByDate "2006" "desc" }}
	<h2 class="year">{{ .Key }}</h2>
		<ul class="publications">
			{{ range .Pages.ByDate.Reverse }}
			<li>{{ partial "pub-summary" . | chomp }}</li>
			{{end}}
		</ul>
	{{end}}
</div>
{{ end }}



